In [1]:
#Import dependency
import pandas as pd

In [5]:
#Export the database to a DataFrame
startup_df= pd.read_csv("startup_data.csv")
startup_df

,state_code,labels,founded_at,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,...,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,reached_milestone,founded_first_funding__days_difference,first_last_funding_days_difference
0,CA,1,2007,2.2493,3.0027,4.6685,6.7041,3,3,375000,...,1,0,0,0,0,1.0000,0,1,821,275
1,CA,1,2000,5.1260,9.9973,7.0055,7.0055,9,4,40100000,...,0,0,1,1,1,4.7500,1,1,1871,1778
2,CA,1,2009,1.0329,1.0329,1.4575,2.2055,5,1,2600000,...,0,1,0,0,0,4.0000,1,1,377,0
3,CA,1,2002,3.1315,5.3151,6.0027,6.0027,5,3,40000000,...,0,0,1,1,1,3.3333,1,1,1143,797
4,CA,0,2010,0.0000,1.6685,0.0384,0.0384,2,2,1300000,...,1,0,0,0,0,1.0000,1,1,0,609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,CA,1,2009,0.5178,0.5178,0.5808,4.5260,9,1,1100000,...,0,1,0,0,0,6.0000,1,1,189,0
919,MA,0,1998,7.2521,9.2274,6.0027,6.0027,1,3,52000000,...,0,0,1,0,0,2.6667,1,1,2647,721
920,CA,0,1999,8.4959,8.4959,9.0055,9.0055,5,1,44000000,...,0,0,0,0,1,8.0000,1,1,3101,0
921,CA,1,2009,0.7589,2.8329,0.7589,3.8356,12,2,15500000,...,0,1,1,0,0,1.0000,1,1,277,757
922,CA,1,2003,3.1205,3.1205,4.0027,4.0027,4,1,20000000,...,0,0,1,0,0,3.0000,1,1,1139,0

In [6]:
#Change the N/A values to 999 
startup_df["age_first_milestone_year"] = startup_df["age_first_milestone_year"].fillna(value=999)
startup_df["age_last_milestone_year"] = startup_df["age_last_milestone_year"].fillna(value=999)
startup_df

,state_code,labels,founded_at,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,...,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,reached_milestone,founded_first_funding__days_difference,first_last_funding_days_difference
0,CA,1,2007,2.2493,3.0027,4.6685,6.7041,3,3,375000,...,1,0,0,0,0,1.0000,0,1,821,275
1,CA,1,2000,5.1260,9.9973,7.0055,7.0055,9,4,40100000,...,0,0,1,1,1,4.7500,1,1,1871,1778
2,CA,1,2009,1.0329,1.0329,1.4575,2.2055,5,1,2600000,...,0,1,0,0,0,4.0000,1,1,377,0
3,CA,1,2002,3.1315,5.3151,6.0027,6.0027,5,3,40000000,...,0,0,1,1,1,3.3333,1,1,1143,797
4,CA,0,2010,0.0000,1.6685,0.0384,0.0384,2,2,1300000,...,1,0,0,0,0,1.0000,1,1,0,609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,CA,1,2009,0.5178,0.5178,0.5808,4.5260,9,1,1100000,...,0,1,0,0,0,6.0000,1,1,189,0
919,MA,0,1998,7.2521,9.2274,6.0027,6.0027,1,3,52000000,...,0,0,1,0,0,2.6667,1,1,2647,721
920,CA,0,1999,8.4959,8.4959,9.0055,9.0055,5,1,44000000,...,0,0,0,0,1,8.0000,1,1,3101,0
921,CA,1,2009,0.7589,2.8329,0.7589,3.8356,12,2,15500000,...,0,1,1,0,0,1.0000,1,1,277,757
922,CA,1,2003,3.1205,3.1205,4.0027,4.0027,4,1,20000000,...,0,0,1,0,0,3.0000,1,1,1139,0

In [7]:
#Export the DataFrame to a CSV file
startup_df.to_csv("startup_data.csv")